/* Small devices Screen Responsive */
@media screen and (max-width:576px) {

    /* Header & Nav responsive Style */
    .nav-content {
        display: none;
    }

    nav .menu-icon {
        display: inline;
    }

    /* Banner Related Responsive Style */
    .banner {
        margin: 1.5rem;
    }

    .search-content {
        flex-direction: column;
        width: 90%;
    }

    .banner-title {
        font-size: 2rem;
    }

    /* Popular Tour Related Responsive Style */
    .popular-tour {
        flex-direction: column;
        gap: 1.5rem;
        margin: 1.5rem;
    }

    .popular-tour-content,
    .popular-tour-img {
        max-width: 100%;
    }

    #popular-tour-title{
        margin: 0.5rem;
        font-size: 1.5rem;
    }

    .popular-tour-content button{
        margin: 0.3rem;
    }
}



/* Medium devices Screen Responsive */
@media screen and (min-width:576px) and (max-width:768px) {

    /* Header & Nav responsive Style */
    .nav-content {
        display: none;
    }

    nav .menu-icon {
        display: inline;
    }

    /* Banner Related Responsive Style */
    .banner {
        margin: 1.5rem;
    }

    .banner-title {
        font-size: 3rem;
    }

    .search-content {
        flex-direction: column;
        width: 90%;
    }

    /* Popular Tour Related Responsive Style */
    .popular-tour {
        flex-direction: column;
        gap: 1.5rem;
        margin: 1.5rem;
    }

    .popular-tour-content,
    .popular-tour-img {
        max-width: 100%;
    }
}



/* Large devices Screen Responsive */
@media screen and (min-width:768px) and (max-width:992px) {

    /* Header & Nav responsive Style */
    nav {
        flex-direction: column;
    }

    /* Banner Related Responsive Style */
    .banner {
        margin: 1.5rem;
    }

    .search-content {
        flex-direction: column;
        width: 80%;
    }

    /* Popular Tour Related Responsive Style */
    .popular-tour {
        flex-direction: column;
        gap: 1.5rem;
        margin: 1.5rem;
    }

    .popular-tour-content,
    .popular-tour-img {
        max-width: 100%;
    }
}