/* Small devices Screen Responsive */
@media screen and (max-width:576px) {

    /* Header & Nav responsive Style */
    header{
        margin-top: 0;
    }
    .nav-content {
        display: none;
    }

    nav .menu-icon {
        display: inline;
    }

    /* Banner Related Responsive Style */
    .banner {
        margin: 1.25rem;
    }

    .search-content {
        flex-direction: column;
        width: 90%;
    }

    .banner-title {
        font-size: 2rem;
    }

    /* Popular Tour Related Responsive Style */
    .popular-tour {
        flex-direction: column;
        gap: 1.25rem;
        margin: 1.25rem 1.25rem 0rem 1.25rem;
    }

    .popular-tour-content,
    .popular-tour-img {
        max-width: 100%;
    }

    #popular-tour-title {
        margin: 0.5rem;
        font-size: 1.5rem;
    }

    .popular-tour-content button {
        margin: 0rem;
    }

    /* Destination Section Related Responsive Style */
    .destination {
        margin: 0rem 1.25rem 1.25rem 1.25rem;
    }

    .destination-content #destination-title {
        font-size: 1.5rem;
        margin: 0rem auto;
    }

    .destination .img-row {
        margin: 0rem 0rem 1.25rem 0rem;
        gap: 1rem;
        grid-template-columns: auto;
    }

}



/* Medium devices Screen Responsive */
@media screen and (min-width:576px) and (max-width:768px) {

    /* Header & Nav responsive Style */
    .nav-content {
        display: none;
    }

    nav .menu-icon {
        display: inline;
    }

    /* Banner Related Responsive Style */
    .banner {
        margin: 1.5rem;
    }

    .banner-title {
        font-size: 3rem;
    }

    .search-content {
        flex-direction: column;
        width: 90%;
    }

    /* Popular Tour Related Responsive Style */
    .popular-tour {
        flex-direction: column;
        gap: 1.5rem;
        margin: 1.5rem;
    }

    .popular-tour-content,
    .popular-tour-img {
        max-width: 100%;
    }

    /* Destination Section Related Responsive Style */
    .destination {
        margin: 1.5rem;
    }

    .destination .img-row {
        margin: 1rem;
        gap: 1rem;
    }
}



/* Large devices Screen Responsive */
@media screen and (min-width:768px) and (max-width:992px) {

    /* Header & Nav responsive Style */
    nav {
        flex-direction: column;
    }

    /* Banner Related Responsive Style */
    .banner {
        margin: 1.5rem;
    }

    .search-content {
        flex-direction: column;
        width: 80%;
    }

    /* Popular Tour Related Responsive Style */
    .popular-tour {
        flex-direction: column;
        gap: 1.5rem;
        margin: 1.5rem;
    }

    .popular-tour-content,
    .popular-tour-img {
        max-width: 100%;
    }

    /* Destination Section Related Responsive Style */
    .destination {
        margin: 1.5rem;
    }
}