/* Theme Related Style */
:root {
    --primary: #FF5400;
    --light-gray: #5A5A5D;
    --dark-gray: #131318;
    --white: #ffffff;

}

/* Common CSS */
* {
    font-family: "Mulish", sans-serif;
}

header,
main {
    max-width: 1170px;
    margin: 0px auto;
}

.section-title {
    color: var(--dark-gray);
    font-size: 2.5rem;
    font-weight: 800;
}

.deccription {
    --light-gray: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Header & Nav Related Style Start */
nav,
.brand-content,
.nav-content {
    display: flex;
}

header {
    margin: 50px auto;
}

nav {
    justify-content: space-between;
    align-items: center;
}

.brand-content {
    gap: 1rem;
    align-items: center;
}

.brand-content img {
    width: 3.5rem;
    height: 3rem;
}

.brand-title {
    color: var(--dark-gray);
    font-size: 2.25rem;
    font-weight: 800;
}

.brand-title>span {
    color: var(--primary);
}

.nav-content {
    gap: 2.75rem;
}

.nav-content li>a {
    color: var(--light-gray);
    font-size: 1.2rem;
    font-weight: 400;
}

.nav-content li .home {
    color: var(--primary);
    font-weight: 700;
}

/* Header & Nav Related Style End */

/* Banner Section Start */
.banner {
    background-image: url('../Images/banner-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
    min-height: 500px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 500px;
    border-radius: 1rem;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.banner-content {
    max-width: 42.5rem;
}

.banner-title {
    margin: 0px;
    color: var(--white);
    font-size: 4rem;
    font-weight: 800;
}

.banner-description {
    color: var(--white);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 1.5rem auto;
}

.search-content {
    display: inline-flex;
    padding: 1rem;
    /* align-items: flex-start; */
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    max-width: 10.8rem;
}

/* Banner Section End */